.page-nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: flex-start;
  clear: both;

  margin-left: 16px;
  height: auto;
  @media (min-width: 768px) {
    margin-left: 24px;

  }
  @media (min-width: 1120px) {
    margin-left: 34px;
    flex-wrap: wrap;
  }
  &__button{
    font-size: 16px;
    color: $gray;
    font-family: $medium;
    white-space: nowrap;
    background: none;
    cursor: pointer;
    transition: color .5s;
    padding: 10px 18px 10px 18px;
    @media (min-width: 1120px) {
      padding: 10px 26px 10px 26px;
    }
  }
  &__button_active{
    padding: 8px 16px 8px 16px;
    border: 2px solid $transparent-blue;
    border-radius: 6px;
    @media (min-width: 1120px) {
      padding: 8px 24px 8px 24px;
    }
  }
  &__button:hover {
    color: $pink;
  }
}
